<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Whale Sightings!</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron bg-primary text-light">
      <h1 class="display-4">Whale Sightings!</h1>
      <p class="lead">Find whale locations near you!</p>
      <hr class="my-4">
      <p>Did you see a whale? Let others know!</p>
      <form method="POST" action="/send" role="form", name="whaleform">
        <div class="row">
          <div class="form-group col-4">
            <label for="inputLat">Location Latitude: </label>
            <input type="text" class="form-control" id="inputLat" name="whaleLat" placeholder="Lat">
          </div>
          <div class="form-group col-4">
            <label for="inputLon">Location Longitude: </label>
            <input type="text" class="form-control" id="inputLon" name="whaleLon" placeholder="Lon">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-8">
            <label for="inputDes">Description: </label>
            <textarea type="text" class="form-control" id="inputDes" name="whaleDes" placeholder="Description"></textarea>
          </div>
        </div>
        <input type="submit" class="btn btn-success btn-lg" value="Add Whale">
      </form>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>All The Whales!</h2>
        <div id="plot"></div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script>
    // Checkout the below regarding passing a list into an html with javascript. (Issue due to jinja2 template.)
    // https://stackoverflow.com/questions/15321431/how-to-pass-a-list-from-python-by-jinja2-to-javascript
    var whale_list = {{ whale_list | safe }}
  </script>

  <script type='text/JavaScript' src='static/app.js'></script>
</body>

</html>